.container {
  background-color: var(--third-color);
  height: 100vh;
}

.paragraph {
  padding: 2rem;
  line-height: 1.8;
}

.image__div {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .container {
    height: 60vh;
  }

  .image__div {
    text-align: left;
  }
}

@media screen and (min-width: 992px) {
  .container {
    height: 65vh;
  }
}

@media screen and (min-width: 1025px) {
  .container {
    height: 90vh;
  }
}
/* Fix the screen width */
@media screen and (min-width: 1325px) {
  .container {
    height: 60vh;
  }
}